{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new.css') }}">
{% endblock %}

{% block body %}
<h2>Ajouter une tâche</h2>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.status) }}
    <button type="submit" class="btn btn-success mt-2">Ajouter</button>
{{ form_end(form) }}

<a href="{{ path('task_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
